<div class="panel panel-default">
    <a href="<%= url %>" target="_blank">
      <div class="panel-heading">
        <!-- <%= title %> -->
      </div>
      <div class="panel-body">
こんにちは！


      </div>
    </a>
  </div>